body {
  font-family: 'Lobster', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-image: url('bg1.jpeg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: rgba(236, 71, 5, 1);
  text-shadow: 2px 2px 4px rgb(102, 31, 2); /* Sombra negra con opacidad */
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Asegura que el cuerpo tenga al menos la altura de la pantalla */
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  background-color: rgba(255, 98, 0, 0); /* Ajusta la opacidad según lo necesites */
}

.header-content {
  flex: 1;
  font-size: 8vh;
  display: flex;
  flex-direction: column; /* Organiza los elementos en una columna */
  justify-content: center; /* Centra verticalmente */
  align-items: center; /* Centra horizontalmente */
  text-align: center; 
  margin: auto; /* Centra el texto dentro del contenedor */
  height: 100vh; /* O ajusta según sea necesario */
}

.countdown {
  text-align: center;
  font-size: 36px;
  padding: 20px;
}

#countdown-timer {
  font-size: 120px;
  color: #ec4705;
}

.party-details {
  display: flex;
  flex-wrap: wrap; /* Permite que los elementos se ajusten en varias líneas en pantallas pequeñas */
  margin: 0;
  font-size: 24px; /* Tamaño de fuente reducido en pantallas pequeñas */
  justify-content: space-around;
  padding: 10px;
  align-items: center;
}

.party-image {
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
  padding: 10px; /* Ajusta el espacio alrededor de la imagen si es necesario */
}

.party-image img {
  max-width: 50%;
  height: auto; /* Mantiene la relación de aspecto de la imagen */
  border-radius: 10px;
  transition: transform 0.3s ease;
}

.party-image img:hover {
  transform: scale(1.2);
}

.party-info, .services {
  text-align: center;
  max-width: 100%;
  font-size: 36px;
  padding-top: 50px; /* Agrega algo de espacio alrededor en pantallas pequeñas */
}

.services {
  text-align: center;
}

.services ul {
  list-style: none;
  padding: 0;
}

.services ul li {
  font-size: 36px; /* Tamaño de fuente reducido en pantallas pequeñas */
  margin: 10px 0;
}

.map {
  font-size: 36px;
  padding: 20px;
  text-align: center;
  margin-bottom: 30px; /* Agrega margen inferior para separar el mapa del formulario */
}

#map {
  width: 100%;
  height: 300px;
  background-color: #dddddd00;
}

.rsvp-form {
  max-width: 50%;
  font-size: 36px;
  padding: 300px;
  text-align: center;
  margin: 0 auto; /* Centra horizontalmente el formulario */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
  /* Asegura que el formulario esté centrado verticalmente en el contenedor */
  /* No necesitas margin-top para centrar verticalmente con Flexbox */
}

.rsvp-form form {
  display: flex; /* Cambia de inline-block a flex */
  flex-direction: column; /* Organiza los elementos en una columna */
  align-items: center; /* Centra los elementos horizontalmente */
  width: 100%;
}

.rsvp-form label {
  display: block;
  margin-top: 10px;
}

.rsvp-form input {
  width: calc(100% - 20px);
  padding: 8px;
  margin-top: 5px;
}

.rsvp-form button {
  width: 25vh;
  height: 10vh;
  margin-top: 40px;
  padding: 10px 20px;
  background-color: #e56306;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 38px;
}

.rsvp-form button:hover {
  background-color: #a0522d;
  transform: scale(1.2);
}

/* Media queries para pantallas más pequeñas */
@media (max-width: 768px) {
  .header-content {
    font-size: 6vh;
  }

  .countdown {
    font-size: 24px;
  }

  #countdown-timer {
    font-size: 80px;
  }

  .party-details {
    font-size: 18px;
  }

  .services {
    font-size: 18px;
  }

  .services ul li {
    font-size: 18px;
  }

  .map {
    margin-bottom: 20px; /* Reduce el margen inferior en pantallas más pequeñas */
  }

  #map {
    height: 250px;
  }
}

@media (max-width: 480px) {
  .header-content {
    font-size: 5vh;
  }

  .countdown {
    font-size: 20px;
  }

  #countdown-timer {
    font-size: 60px;
  }

  .party-details {
    font-size: 16px;
  }

  .services {
    font-size: 16px;
  }

  .services ul li {
    font-size: 16px;
  }

  .map {
    margin-bottom: 10px; /* Reduce aún más el margen inferior */
  }

  #map {
    height: 200px;
  }
}
